<a class="brand-link a">
  <span class="brand-text font-weight-light">Online-Test</span>
</a>
<!-- Sidebar -->
<div class="sidebar">
  <!-- Sidebar user panel (optional) -->
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
          <img src="../../../assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
          <a class="d-block"> Ahihi</a>
      </div>
  </div>
  <nav class="mt-2">
      <app-menu></app-menu>
  </nav>

</div>
